
/* Safari, Opera, Chrome, Outil Aplatir */
@-webkit-keyframes aplatir { 
    
  0% {
      background-image: url("src/Aplatir_animation_1.png")
  }

  7.1% {
      background-image: url("src/Aplatir_animation_2.png")
  }

  14.2% {
      background-image: url("src/Aplatir_animation_3.png")
  }

  21.3% {
      background-image: url("src/Aplatir_animation_4.png")
  }

  28.4% {
      background-image: url("src/Aplatir_animation_5.png")
  }

  35.5% {
      background-image: url("src/Aplatir_animation_6.png")
  }

  42.6% {
      background-image: url("src/Aplatir_animation_7.png")
  }

  49.7% {
      background-image: url("src/Aplatir_animation_8.png")
  }

  56.8% {
      background-image: url("src/Aplatir_animation_9.png")
  }

  63.9% {
      background-image: url("src/Aplatir_animation_10.png")
  }

  71% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  78.1% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  85.2% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  92.3% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  100% {
      background-image: url("src/Aplatir_animation_11.png")
  }
}

/* Tous les autres navigateurs, Outil Aplatir */
@keyframes aplatir { 
      
  0% {
      background-image: url("src/Aplatir_animation_1.png")
  }

  7.1% {
      background-image: url("src/Aplatir_animation_2.png")
  }

  14.2% {
      background-image: url("src/Aplatir_animation_3.png")
  }

  21.3% {
      background-image: url("src/Aplatir_animation_4.png")
  }

  28.4% {
      background-image: url("src/Aplatir_animation_5.png")
  }

  35.5% {
      background-image: url("src/Aplatir_animation_6.png")
  }

  42.6% {
      background-image: url("src/Aplatir_animation_7.png")
  }

  49.7% {
      background-image: url("src/Aplatir_animation_8.png")
  }

  56.8% {
      background-image: url("src/Aplatir_animation_9.png")
  }

  63.9% {
      background-image: url("src/Aplatir_animation_10.png")
  }

  71% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  78.1% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  85.2% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  92.3% {
      background-image: url("src/Aplatir_animation_11.png")
  }

  100% {
      background-image: url("src/Aplatir_animation_11.png")
  }

}

.aplatir
{
  margin: 100px auto;
  width: 100px;
  height: 100px;
  background-size: 100%;
  border-radius: 400px;
  
  background-image: url("src/Aplatir_animation_1.png");
  background-image: url("src/Aplatir_animation_2.png");
  background-image: url("src/Aplatir_animation_3.png");
  background-image: url("src/Aplatir_animation_4.png");
  background-image: url("src/Aplatir_animation_5.png");
  background-image: url("src/Aplatir_animation_6.png");
  background-image: url("src/Aplatir_animation_7.png");
  background-image: url("src/Aplatir_animation_8.png");
  background-image: url("src/Aplatir_animation_9.png");
  background-image: url("src/Aplatir_animation_10.png");
  background-image: url("src/Aplatir_animation_11.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.aplatir:hover
{

/* Safari, Opera, Chrome, Outil Aplatir */
  -webkit-animation: aplatir 1s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Aplatir */
  animation: aplatir 1s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Tampon */
@-webkit-keyframes tampon { 
  
  0% {
      background-image: url("src/Tampon_animation_1.png")
  }

  4% {
      background-image: url("src/Tampon_animation_2.png")
  }

  8% {
      background-image: url("src/Tampon_animation_3.png")
  }

  12% {
      background-image: url("src/Tampon_animation_4.png")
  }

  16% {
      background-image: url("src/Tampon_animation_5.png")
  }

  20% {
      background-image: url("src/Tampon_animation_6.png")
  }

  24% {
      background-image: url("src/Tampon_animation_7.png")
  }

  28% {
      background-image: url("src/Tampon_animation_8.png")
  }

  32% {
      background-image: url("src/Tampon_animation_9.png")
  }

  36% {
      background-image: url("src/Tampon_animation_10.png")
  }

  40% {
      background-image: url("src/Tampon_animation_11.png")
  }

  44% {
      background-image: url("src/Tampon_animation_12.png")
  }

  48% {
      background-image: url("src/Tampon_animation_13.png")
  }

  52% {
      background-image: url("src/Tampon_animation_14.png")
  }

  56% {
      background-image: url("src/Tampon_animation_15.png")
  }

  60% {
      background-image: url("src/Tampon_animation_16.png")
  }

  64% {
      background-image: url("src/Tampon_animation_17.png")
  }

  68% {
      background-image: url("src/Tampon_animation_18.png")
  }

  72% {
      background-image: url("src/Tampon_animation_19.png")
  }

  76% {
      background-image: url("src/Tampon_animation_20.png")
  }

  80% {
      background-image: url("src/Tampon_animation_21.png")
  }

  84% {
      background-image: url("src/Tampon_animation_21.png")
  }

  88% {
      background-image: url("src/Tampon_animation_21.png")
  }

  92% {
      background-image: url("src/Tampon_animation_21.png")
  }

  96% {
      background-image: url("src/Tampon_animation_21.png")
  }

  100% {
      background-image: url("src/Tampon_animation_21.png")
  }

  100% {
      background-image: url("src/Tampon_animation_21.png")
  }
}

/* Tous les autres navigateurs, Outil Tampon */
@keyframes tampon {
  
  0% {
      background-image: url("src/Tampon_animation_1.png")
  }

  4% {
      background-image: url("src/Tampon_animation_2.png")
  }

  8% {
      background-image: url("src/Tampon_animation_3.png")
  }

  12% {
      background-image: url("src/Tampon_animation_4.png")
  }

  16% {
      background-image: url("src/Tampon_animation_5.png")
  }

  20% {
      background-image: url("src/Tampon_animation_6.png")
  }

  24% {
      background-image: url("src/Tampon_animation_7.png")
  }

  28% {
      background-image: url("src/Tampon_animation_8.png")
  }

  32% {
      background-image: url("src/Tampon_animation_9.png")
  }

  36% {
      background-image: url("src/Tampon_animation_10.png")
  }

  40% {
      background-image: url("src/Tampon_animation_11.png")
  }

  44% {
      background-image: url("src/Tampon_animation_12.png")
  }

  48% {
      background-image: url("src/Tampon_animation_13.png")
  }

  52% {
      background-image: url("src/Tampon_animation_14.png")
  }

  56% {
      background-image: url("src/Tampon_animation_15.png")
  }

  60% {
      background-image: url("src/Tampon_animation_16.png")
  }

  64% {
      background-image: url("src/Tampon_animation_17.png")
  }

  68% {
      background-image: url("src/Tampon_animation_18.png")
  }

  72% {
      background-image: url("src/Tampon_animation_19.png")
  }

  76% {
      background-image: url("src/Tampon_animation_20.png")
  }

  80% {
      background-image: url("src/Tampon_animation_21.png")
  }

  84% {
      background-image: url("src/Tampon_animation_21.png")
  }

  88% {
      background-image: url("src/Tampon_animation_21.png")
  }

  92% {
      background-image: url("src/Tampon_animation_21.png")
  }

  96% {
      background-image: url("src/Tampon_animation_21.png")
  }

  100% {
      background-image: url("src/Tampon_animation_21.png")
  }

  100% {
      background-image: url("src/Tampon_animation_21.png")
  }
}

.tampon
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Tampon_animation_1.png");
  background-image: url("src/Tampon_animation_2.png");
  background-image: url("src/Tampon_animation_3.png");
  background-image: url("src/Tampon_animation_4.png");
  background-image: url("src/Tampon_animation_5.png");
  background-image: url("src/Tampon_animation_6.png");
  background-image: url("src/Tampon_animation_7.png");
  background-image: url("src/Tampon_animation_8.png");
  background-image: url("src/Tampon_animation_9.png");
  background-image: url("src/Tampon_animation_10.png");
  background-image: url("src/Tampon_animation_11.png");
  background-image: url("src/Tampon_animation_12.png");
  background-image: url("src/Tampon_animation_13.png");
  background-image: url("src/Tampon_animation_14.png");
  background-image: url("src/Tampon_animation_15.png");
  background-image: url("src/Tampon_animation_16.png");
  background-image: url("src/Tampon_animation_17.png");
  background-image: url("src/Tampon_animation_18.png");
  background-image: url("src/Tampon_animation_19.png");
  background-image: url("src/Tampon_animation_20.png");
  background-image: url("src/Tampon_animation_21.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.tampon:hover
{

/* Safari, Opera, Chrome, Outil Tampon */
  -webkit-animation: tampon 1s infinite; 
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Tampon */
  animation: tampon 1s infinite; 
  animation-direction:alternate;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Etirer */
@-webkit-keyframes etirer { 
  
  0% {
      background-image: url("src/Etirer_animation_1.png")
  }

  6.7% {
      background-image: url("src/Etirer_animation_2.png")
  }

  13.4% {
      background-image: url("src/Etirer_animation_3.png")
  }

  20.1% {
      background-image: url("src/Etirer_animation_4.png")
  }

  26.8% {
      background-image: url("src/Etirer_animation_5.png")
  }

  33.5% {
      background-image: url("src/Etirer_animation_6.png")
  }

  40.2% {
      background-image: url("src/Etirer_animation_7.png")
  }

  46.9% {
      background-image: url("src/Etirer_animation_8.png")
  }

  53.6% {
      background-image: url("src/Etirer_animation_9.png")
  }

  60.3% {
      background-image: url("src/Etirer_animation_10.png")
  }

  67% {
      background-image: url("src/Etirer_animation_11.png")
  }

  73.7% {
      background-image: url("src/Etirer_animation_12.png")
  }

  80.4% {
      background-image: url("src/Etirer_animation_13.png")
  }

  87.1% {
      background-image: url("src/Etirer_animation_14.png")
  }

  93.8% {
      background-image: url("src/Etirer_animation_15.png")
  }

  100% {
      background-image: url("src/Etirer_animation_16.png")
  }
}

/* Tous les autres navigateurs, Outil Etirer */
@keyframes etirer { 
      
  0% {
      background-image: url("src/Etirer_animation_1.png")
  }

  6.7% {
      background-image: url("src/Etirer_animation_2.png")
  }

  13.4% {
      background-image: url("src/Etirer_animation_3.png")
  }

  20.1% {
      background-image: url("src/Etirer_animation_4.png")
  }

  26.8% {
      background-image: url("src/Etirer_animation_5.png")
  }

  33.5% {
      background-image: url("src/Etirer_animation_6.png")
  }

  40.2% {
      background-image: url("src/Etirer_animation_7.png")
  }

  46.9% {
      background-image: url("src/Etirer_animation_8.png")
  }

  53.6% {
      background-image: url("src/Etirer_animation_9.png")
  }

  60.3% {
      background-image: url("src/Etirer_animation_10.png")
  }

  67% {
      background-image: url("src/Etirer_animation_11.png")
  }

  73.7% {
      background-image: url("src/Etirer_animation_12.png")
  }

  80.4% {
      background-image: url("src/Etirer_animation_13.png")
  }

  87.1% {
      background-image: url("src/Etirer_animation_14.png")
  }

  93.8% {
      background-image: url("src/Etirer_animation_15.png")
  }

  100% {
      background-image: url("src/Etirer_animation_16.png")
  }
}

.etirer
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Etirer_animation_1.png");
  background-image: url("src/Etirer_animation_2.png");
  background-image: url("src/Etirer_animation_3.png");
  background-image: url("src/Etirer_animation_4.png");
  background-image: url("src/Etirer_animation_5.png");
  background-image: url("src/Etirer_animation_6.png");
  background-image: url("src/Etirer_animation_7.png");
  background-image: url("src/Etirer_animation_8.png");
  background-image: url("src/Etirer_animation_9.png");
  background-image: url("src/Etirer_animation_10.png");
  background-image: url("src/Etirer_animation_11.png");
  background-image: url("src/Etirer_animation_12.png");
  background-image: url("src/Etirer_animation_13.png");
  background-image: url("src/Etirer_animation_14.png");
  background-image: url("src/Etirer_animation_15.png");
  background-image: url("src/Etirer_animation_16.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.etirer:hover
{

/* Safari, Opera, Chrome, Outil Etirer */
  -webkit-animation: etirer 1s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Etirer */
  animation: etirer 1s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Dessiner */
@-webkit-keyframes dessiner { 
  
  0% {
      background-image: url("src/Dessiner_animation_1.png")
  }

  7.1% {
      background-image: url("src/Dessiner_animation_2.png")
  }

  14.2% {
      background-image: url("src/Dessiner_animation_3.png")
  }

  21.3% {
      background-image: url("src/Dessiner_animation_4.png")
  }

  28.4% {
      background-image: url("src/Dessiner_animation_5.png")
  }

  35.5% {
      background-image: url("src/Dessiner_animation_6.png")
  }

  42.6% {
      background-image: url("src/Dessiner_animation_7.png")
  }

  49.7% {
      background-image: url("src/Dessiner_animation_8.png")
  }

  56.8% {
      background-image: url("src/Dessiner_animation_9.png")
  }

  63.9% {
      background-image: url("src/Dessiner_animation_10.png")
  }

  71% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  78.1% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  85.2% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  92.3% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  100% {
      background-image: url("src/Dessiner_animation_11.png")
  }
}

/* Tous les autres navigateurs, Outil Dessiner */
@keyframes dessiner { 
      
  0% {
      background-image: url("src/Dessiner_animation_1.png")
  }

  7.1% {
      background-image: url("src/Dessiner_animation_2.png")
  }

  14.2% {
      background-image: url("src/Dessiner_animation_3.png")
  }

  21.3% {
      background-image: url("src/Dessiner_animation_4.png")
  }

  28.4% {
      background-image: url("src/Dessiner_animation_5.png")
  }

  35.5% {
      background-image: url("src/Dessiner_animation_6.png")
  }

  42.6% {
      background-image: url("src/Dessiner_animation_7.png")
  }

  49.7% {
      background-image: url("src/Dessiner_animation_8.png")
  }

  56.8% {
      background-image: url("src/Dessiner_animation_9.png")
  }

  63.9% {
      background-image: url("src/Dessiner_animation_10.png")
  }

  71% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  78.1% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  85.2% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  92.3% {
      background-image: url("src/Dessiner_animation_11.png")
  }

  100% {
      background-image: url("src/Dessiner_animation_11.png")
  }
}

.dessiner
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Dessiner_animation_1.png");
  background-image: url("src/Dessiner_animation_2.png");
  background-image: url("src/Dessiner_animation_3.png");
  background-image: url("src/Dessiner_animation_4.png");
  background-image: url("src/Dessiner_animation_5.png");
  background-image: url("src/Dessiner_animation_6.png");
  background-image: url("src/Dessiner_animation_7.png");
  background-image: url("src/Dessiner_animation_8.png");
  background-image: url("src/Dessiner_animation_9.png");
  background-image: url("src/Dessiner_animation_10.png");
  background-image: url("src/Dessiner_animation_11.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.dessiner:hover
{

/* Safari, Opera, Chrome, Outil Dessiner */
  -webkit-animation: dessiner 1s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Dessiner */
  animation: dessiner 1s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Creuser */
@-webkit-keyframes creuser { 
  
  0% {
      background-image: url("src/Creuser_animation_1.png")
  }

  7.1% {
      background-image: url("src/Creuser_animation_2.png")
  }

  14.2% {
      background-image: url("src/Creuser_animation_3.png")
  }

  21.3% {
      background-image: url("src/Creuser_animation_4.png")
  }

  28.4% {
      background-image: url("src/Creuser_animation_5.png")
  }

  35.5% {
      background-image: url("src/Creuser_animation_6.png")
  }

  42.6% {
      background-image: url("src/Creuser_animation_7.png")
  }

  49.7% {
      background-image: url("src/Creuser_animation_8.png")
  }

  56.8% {
      background-image: url("src/Creuser_animation_9.png")
  }

  63.9% {
      background-image: url("src/Creuser_animation_10.png")
  }

  71% {
      background-image: url("src/Creuser_animation_10.png")
  }

  78.1% {
      background-image: url("src/Creuser_animation_10.png")
  }

  85.2% {
      background-image: url("src/Creuser_animation_10.png")
  }

  92.3% {
      background-image: url("src/Creuser_animation_10.png")
  }

  100% {
      background-image: url("src/Creuser_animation_10.png")
  }

}

/* Tous les autres navigateurs, Outil Creuser */
@keyframes creuser { 
      
  0% {
      background-image: url("src/Creuser_animation_1.png")
  }

  7.1% {
      background-image: url("src/Creuser_animation_2.png")
  }

  14.2% {
      background-image: url("src/Creuser_animation_3.png")
  }

  21.3% {
      background-image: url("src/Creuser_animation_4.png")
  }

  28.4% {
      background-image: url("src/Creuser_animation_5.png")
  }

  35.5% {
      background-image: url("src/Creuser_animation_6.png")
  }

  42.6% {
      background-image: url("src/Creuser_animation_7.png")
  }

  49.7% {
      background-image: url("src/Creuser_animation_8.png")
  }

  56.8% {
      background-image: url("src/Creuser_animation_9.png")
  }

  63.9% {
      background-image: url("src/Creuser_animation_10.png")
  }

  71% {
      background-image: url("src/Creuser_animation_10.png")
  }

  78.1% {
      background-image: url("src/Creuser_animation_10.png")
  }

  85.2% {
      background-image: url("src/Creuser_animation_10.png")
  }

  92.3% {
      background-image: url("src/Creuser_animation_10.png")
  }

  100% {
      background-image: url("src/Creuser_animation_10.png")
  }
}

.creuser
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Creuser_animation_1.png");
  background-image: url("src/Creuser_animation_2.png");
  background-image: url("src/Creuser_animation_3.png");
  background-image: url("src/Creuser_animation_4.png");
  background-image: url("src/Creuser_animation_5.png");
  background-image: url("src/Creuser_animation_6.png");
  background-image: url("src/Creuser_animation_7.png");
  background-image: url("src/Creuser_animation_8.png");
  background-image: url("src/Creuser_animation_9.png");
  background-image: url("src/Creuser_animation_10.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.creuser:hover
{

/* Safari, Opera, Chrome, Outil Creuser */
  -webkit-animation: creuser 0.9s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Creuser */
  animation: creuser 0.9s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Mirroir */
@-webkit-keyframes mirroir { 
  
  0% {
      background-image: url("src/Mirroir_animation_1.png")
  }

  3.4% {
      background-image: url("src/Mirroir_animation_2.png")
  }

  6.8% {
      background-image: url("src/Mirroir_animation_3.png")
  }

  10.2% {
      background-image: url("src/Mirroir_animation_4.png")
  }

  13.6% {
      background-image: url("src/Mirroir_animation_5.png")
  }

  17% {
      background-image: url("src/Mirroir_animation_6.png")
  }

  20.4% {
      background-image: url("src/Mirroir_animation_7.png")
  }

  23.8% {
      background-image: url("src/Mirroir_animation_8.png")
  }

  27.2% {
      background-image: url("src/Mirroir_animation_9.png")
  }

  30.6% {
      background-image: url("src/Mirroir_animation_10.png")
  }

  34% {
      background-image: url("src/Mirroir_animation_11.png")
  }

  37.4% {
      background-image: url("src/Mirroir_animation_12.png")
  }

  40.8% {
      background-image: url("src/Mirroir_animation_13.png")
  }

  44.2% {
      background-image: url("src/Mirroir_animation_14.png")
  }

  47.6% {
      background-image: url("src/Mirroir_animation_15.png")
  }

  51% {
      background-image: url("src/Mirroir_animation_16.png")
  }

  54.4% {
      background-image: url("src/Mirroir_animation_17.png")
  }

  57.8% {
      background-image: url("src/Mirroir_animation_18.png")
  }

  61.2% {
      background-image: url("src/Mirroir_animation_19.png")
  }

  64.6% {
      background-image: url("src/Mirroir_animation_20.png")
  }

  68% {
      background-image: url("src/Mirroir_animation_21.png")
  }

  71.4% {
      background-image: url("src/Mirroir_animation_22.png")
  }

  74.8% {
      background-image: url("src/Mirroir_animation_23.png")
  }

  78.2% {
      background-image: url("src/Mirroir_animation_24.png")
  }

  81.6% {
      background-image: url("src/Mirroir_animation_25.png")
  }

  85% {
      background-image: url("src/Mirroir_animation_26.png")
  }

  88.4% {
      background-image: url("src/Mirroir_animation_27.png")
  }

  91.8% {
      background-image: url("src/Mirroir_animation_28.png")
  }

  95.2% {
      background-image: url("src/Mirroir_animation_29.png")
  }

  100% {
      background-image: url("src/Mirroir_animation_30.png")
  }

}

/* Tous les autres navigateurs, Outil Mirroir */
@keyframes mirroir { 
      
  0% {
      background-image: url("src/Mirroir_animation_1.png")
  }

  3.4% {
      background-image: url("src/Mirroir_animation_2.png")
  }

  6.8% {
      background-image: url("src/Mirroir_animation_3.png")
  }

  10.2% {
      background-image: url("src/Mirroir_animation_4.png")
  }

  13.6% {
      background-image: url("src/Mirroir_animation_5.png")
  }

  17% {
      background-image: url("src/Mirroir_animation_6.png")
  }

  20.4% {
      background-image: url("src/Mirroir_animation_7.png")
  }

  23.8% {
      background-image: url("src/Mirroir_animation_8.png")
  }

  27.2% {
      background-image: url("src/Mirroir_animation_9.png")
  }

  30.6% {
      background-image: url("src/Mirroir_animation_10.png")
  }

  34% {
      background-image: url("src/Mirroir_animation_11.png")
  }

  37.4% {
      background-image: url("src/Mirroir_animation_12.png")
  }

  40.8% {
      background-image: url("src/Mirroir_animation_13.png")
  }

  44.2% {
      background-image: url("src/Mirroir_animation_14.png")
  }

  47.6% {
      background-image: url("src/Mirroir_animation_15.png")
  }

  51% {
      background-image: url("src/Mirroir_animation_16.png")
  }

  54.4% {
      background-image: url("src/Mirroir_animation_17.png")
  }

  57.8% {
      background-image: url("src/Mirroir_animation_18.png")
  }

  61.2% {
      background-image: url("src/Mirroir_animation_19.png")
  }

  64.6% {
      background-image: url("src/Mirroir_animation_20.png")
  }

  68% {
      background-image: url("src/Mirroir_animation_21.png")
  }

  71.4% {
      background-image: url("src/Mirroir_animation_22.png")
  }

  74.8% {
      background-image: url("src/Mirroir_animation_23.png")
  }

  78.2% {
      background-image: url("src/Mirroir_animation_24.png")
  }

  81.6% {
      background-image: url("src/Mirroir_animation_25.png")
  }

  85% {
      background-image: url("src/Mirroir_animation_26.png")
  }

  88.4% {
      background-image: url("src/Mirroir_animation_27.png")
  }

  91.8% {
      background-image: url("src/Mirroir_animation_28.png")
  }

  95.2% {
      background-image: url("src/Mirroir_animation_29.png")
  }

  100% {
      background-image: url("src/Mirroir_animation_30.png")
  }
}

.mirroir
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
    position: absolute;
  background-image: url("src/Mirroir_animation_1.png");
  background-image: url("src/Mirroir_animation_2.png");
  background-image: url("src/Mirroir_animation_3.png");
  background-image: url("src/Mirroir_animation_4.png");
  background-image: url("src/Mirroir_animation_5.png");
  background-image: url("src/Mirroir_animation_6.png");
  background-image: url("src/Mirroir_animation_7.png");
  background-image: url("src/Mirroir_animation_8.png");
  background-image: url("src/Mirroir_animation_9.png");
  background-image: url("src/Mirroir_animation_10.png");
  background-image: url("src/Mirroir_animation_11.png");
  background-image: url("src/Mirroir_animation_12.png");
  background-image: url("src/Mirroir_animation_13.png");
  background-image: url("src/Mirroir_animation_14.png");
  background-image: url("src/Mirroir_animation_15.png");
  background-image: url("src/Mirroir_animation_16.png");
  background-image: url("src/Mirroir_animation_17.png");
  background-image: url("src/Mirroir_animation_18.png");
  background-image: url("src/Mirroir_animation_19.png");
  background-image: url("src/Mirroir_animation_20.png");
  background-image: url("src/Mirroir_animation_21.png");
  background-image: url("src/Mirroir_animation_22.png");
  background-image: url("src/Mirroir_animation_23.png");
  background-image: url("src/Mirroir_animation_24.png");
  background-image: url("src/Mirroir_animation_25.png");
  background-image: url("src/Mirroir_animation_26.png");
  background-image: url("src/Mirroir_animation_27.png");
  background-image: url("src/Mirroir_animation_28.png");
  background-image: url("src/Mirroir_animation_29.png");
  background-image: url("src/Mirroir_animation_30.png");    
  background-position-x: 0px;
  background-position-y: 0px;
}

.mirroir:hover
{

/* Safari, Opera, Chrome, Outil Mirroir */
  -webkit-animation: mirroir 1s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Mirroir */
  animation: mirroir 1s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Galerie */
@-webkit-keyframes galerie { 
  
  0% {
      background-image: url("src/Galerie_animation_1.png")
  }

  5% {
      background-image: url("src/Galerie_animation_2.png")
  }

  10% {
      background-image: url("src/Galerie_animation_3.png")
  }

  15% {
      background-image: url("src/Galerie_animation_4.png")
  }

  20% {
      background-image: url("src/Galerie_animation_5.png")
  }

  25% {
      background-image: url("src/Galerie_animation_6.png")
  }

  30% {
      background-image: url("src/Galerie_animation_7.png")
  }

  35% {
      background-image: url("src/Galerie_animation_8.png")
  }

  40% {
      background-image: url("src/Galerie_animation_9.png")
  }

  45% {
      background-image: url("src/Galerie_animation_9.png")
  }

  50% {
      background-image: url("src/Galerie_animation_9.png")
  }

  55% {
      background-image: url("src/Galerie_animation_9.png")
  }

  60% {
      background-image: url("src/Galerie_animation_10.png")
  }

  65% {
      background-image: url("src/Galerie_animation_11.png")
  }

  70% {
      background-image: url("src/Galerie_animation_12.png")
  }

  75% {
      background-image: url("src/Galerie_animation_13.png")
  }

  80% {
      background-image: url("src/Galerie_animation_14.png")
  }

  85% {
      background-image: url("src/Galerie_animation_15.png")
  }

  90% {
      background-image: url("src/Galerie_animation_16.png")
  }

  95% {
      background-image: url("src/Galerie_animation_17.png")
  }

  100% {
      background-image: url("src/Galerie_animation_18.png")
  }
}

/* Tous les autres navigateurs, Outil Galerie */
@keyframes galerie { 
      
  0% {
      background-image: url("src/Galerie_animation_1.png")
  }

  5% {
      background-image: url("src/Galerie_animation_2.png")
  }

  10% {
      background-image: url("src/Galerie_animation_3.png")
  }

  15% {
      background-image: url("src/Galerie_animation_4.png")
  }

  20% {
      background-image: url("src/Galerie_animation_5.png")
  }

  25% {
      background-image: url("src/Galerie_animation_6.png")
  }

  30% {
      background-image: url("src/Galerie_animation_7.png")
  }

  35% {
      background-image: url("src/Galerie_animation_8.png")
  }

  40% {
      background-image: url("src/Galerie_animation_9.png")
  }

  45% {
      background-image: url("src/Galerie_animation_9.png")
  }

  50% {
      background-image: url("src/Galerie_animation_9.png")
  }

  55% {
      background-image: url("src/Galerie_animation_9.png")
  }

  60% {
      background-image: url("src/Galerie_animation_10.png")
  }

  65% {
      background-image: url("src/Galerie_animation_11.png")
  }

  70% {
      background-image: url("src/Galerie_animation_12.png")
  }

  75% {
      background-image: url("src/Galerie_animation_13.png")
  }

  80% {
      background-image: url("src/Galerie_animation_14.png")
  }

  85% {
      background-image: url("src/Galerie_animation_15.png")
  }

  90% {
      background-image: url("src/Galerie_animation_16.png")
  }

  95% {
      background-image: url("src/Galerie_animation_17.png")
  }

  100% {
      background-image: url("src/Galerie_animation_18.png")
  }
}

.galerie
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Galerie_animation_1.png");
  background-image: url("src/Galerie_animation_2.png");
  background-image: url("src/Galerie_animation_3.png");
  background-image: url("src/Galerie_animation_4.png");
  background-image: url("src/Galerie_animation_5.png");
  background-image: url("src/Galerie_animation_6.png");
  background-image: url("src/Galerie_animation_7.png");
  background-image: url("src/Galerie_animation_8.png");
  background-image: url("src/Galerie_animation_9.png");
  background-image: url("src/Galerie_animation_10.png");
  background-image: url("src/Galerie_animation_11.png");
  background-image: url("src/Galerie_animation_12.png");
  background-image: url("src/Galerie_animation_13.png");
  background-image: url("src/Galerie_animation_14.png");
  background-image: url("src/Galerie_animation_15.png");
  background-image: url("src/Galerie_animation_16.png");
  background-image: url("src/Galerie_animation_17.png");
  background-image: url("src/Galerie_animation_18.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.galerie:hover
{

/* Safari, Opera, Chrome, Outil Galerie */
  -webkit-animation: galerie 1.5s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Galerie */
  animation: galerie 1.5s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


/* Safari, Opera, Chrome, Outil Imprimer */
@-webkit-keyframes imprimer { 
  
  0% {
      background-image: url("src/Imprimer_animation_1.png")
  }

  5% {
      background-image: url("src/Imprimer_animation_2.png")
  }

  10% {
      background-image: url("src/Imprimer_animation_3.png")
  }

  15% {
      background-image: url("src/Imprimer_animation_4.png")
  }

  20% {
      background-image: url("src/Imprimer_animation_5.png")
  }

  25% {
      background-image: url("src/Imprimer_animation_6.png")
  }

  30% {
      background-image: url("src/Imprimer_animation_7.png")
  }

  35% {
      background-image: url("src/Imprimer_animation_8.png")
  }

  40% {
      background-image: url("src/Imprimer_animation_9.png")
  }

  45% {
      background-image: url("src/Imprimer_animation_10.png")
  }

  50% {
      background-image: url("src/Imprimer_animation_11.png")
  }

  55% {
      background-image: url("src/Imprimer_animation_12.png")
  }

  60% {
      background-image: url("src/Imprimer_animation_13.png")
  }

  65% {
      background-image: url("src/Imprimer_animation_14.png")
  }

  70% {
      background-image: url("src/Imprimer_animation_15.png")
  }

  75% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  80% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  85% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  90% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  95% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  100% {
      background-image: url("src/Imprimer_animation_16.png")
  }
}

/* Tous les autres navigateurs, Outil Imprimer */
@keyframes imprimer { 
      
  0% {
      background-image: url("src/Imprimer_animation_1.png")
  }

  5% {
      background-image: url("src/Imprimer_animation_2.png")
  }

  10% {
      background-image: url("src/Imprimer_animation_3.png")
  }

  15% {
      background-image: url("src/Imprimer_animation_4.png")
  }

  20% {
      background-image: url("src/Imprimer_animation_5.png")
  }

  25% {
      background-image: url("src/Imprimer_animation_6.png")
  }

  30% {
      background-image: url("src/Imprimer_animation_7.png")
  }

  35% {
      background-image: url("src/Imprimer_animation_8.png")
  }

  40% {
      background-image: url("src/Imprimer_animation_9.png")
  }

  45% {
      background-image: url("src/Imprimer_animation_10.png")
  }

  50% {
      background-image: url("src/Imprimer_animation_11.png")
  }

  55% {
      background-image: url("src/Imprimer_animation_12.png")
  }

  60% {
      background-image: url("src/Imprimer_animation_13.png")
  }

  65% {
      background-image: url("src/Imprimer_animation_14.png")
  }

  70% {
      background-image: url("src/Imprimer_animation_15.png")
  }

  75% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  80% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  85% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  90% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  95% {
      background-image: url("src/Imprimer_animation_16.png")
  }

  100% {
      background-image: url("src/Imprimer_animation_16.png")
  }
}

.imprimer
{
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
  background-image: url("src/Imprimer_animation_1.png");
  background-image: url("src/Imprimer_animation_2.png");
  background-image: url("src/Imprimer_animation_3.png");
  background-image: url("src/Imprimer_animation_4.png");
  background-image: url("src/Imprimer_animation_5.png");
  background-image: url("src/Imprimer_animation_6.png");
  background-image: url("src/Imprimer_animation_7.png");
  background-image: url("src/Imprimer_animation_8.png");
  background-image: url("src/Imprimer_animation_9.png");
  background-image: url("src/Imprimer_animation_10.png");
  background-image: url("src/Imprimer_animation_11.png");
  background-image: url("src/Imprimer_animation_12.png");
  background-image: url("src/Imprimer_animation_13.png");
  background-image: url("src/Imprimer_animation_14.png");
  background-image: url("src/Imprimer_animation_15.png");
  background-image: url("src/Imprimer_animation_16.png");
  background-position-x: 0px;
  background-position-y: 0px;
}

.imprimer:hover
{

/* Safari, Opera, Chrome, Outil Imprimer */
  -webkit-animation: imprimer 1s infinite; 
  -webkit-animation-direction:normal;
  -webkit-animation-timing-function:linear;

/* Tous les autres navigateurs, Outil Imprimer */
  animation: imprimer 1s infinite; 
  animation-direction:normal;
  animation-timing-function:linear;
}


.BasDroite
{
	position:absolute;
	display:block;

	/* Position */
	bottom:1px;
	right:-1px;
}

.BasGauche
{
    position:absolute;
	display:block;

/* Position */
bottom:0px;
right:679px;
}

.HautGauche
{
    position:absolute;
	display:block;

/* Position */
top:0px;
right:676px;
}

.ombre
{
/* Shadows */
box-shadow:
0px 0px 40px 0px rgb(3, 2, 2);
}

.pulse {
    margin:100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
  
  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }



  .Popup
{
	position:absolute;
	display:block;

	/* Position */
	top:144px;
	left:5px;

	/* Dimensions */
	width:1185px;
	height:234px;

	/* Shape */
	border-radius:8.67% 8.67% 8.67% 8.67%;

	/* Background */
	background-color:rgba(0, 0, 0, 0.52);

	/* Borders */
	border-top:1px solid rgb(0, 0, 0);
	border-bottom:1px solid rgb(0, 0, 0);
	border-left:1px solid rgb(0, 0, 0);
	border-right:1px solid rgb(0, 0, 0);

	/* Shadows */
	box-shadow:
	0px 0px 38px 0px rgb(81, 0, 255);
}
.btn
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;

}

html, body {

  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

#renderCanvas {
  width   : 100%;
  height  : 100%;
  touch-action: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Sliders color */
#CustomSlider .slider-selection {
background: #BABABA;
}

#CustomSlider .slider-handle {
background: #D35600;
}

/* Buttons color */
.btn-default, .btn-default:active, .btn-default:visited {
 

  border-color: #777777   ;
}

.btn-default:hover {
  background-color: #D68730   ;
  border-color: #777777   ;
}

.btn-primary, .btn-primary:active, .btn-primary:hover, .btn-primary:visited {
  background-color: #ED8C23   ;
  color: #FFFFFF   ;
  border-color: #777777   ;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
  background-color: #FA753A   ;
  border-color: #777777   ;
}

/* Checkboxes (slider shaped) */
.slider-switch > input[type="checkbox"] {
  display: none;   
}

.slider-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative; 
  width: 40px;  
}

.slider-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.slider-switch > label::after {
  background: rgb(186, 186, 186);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

.slider-switch > input[type="checkbox"]:checked + label::before {
  background: rgb(0, 16, 245);
  opacity: 0.5;
}

.slider-switch > input[type="checkbox"]:checked + label::after {
  background: rgb(70, 57, 189);
  left: 20px;
}

/* Spinner */
.tectrid-spinner{
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  pointer-events: none;
  animation: tectrid-spinner-spin 2s linear infinite;
}
.liste
{
 
    position:absolute;
	display:block;

	/* Position */
	top:0px;
	left:0px;

	/* Dimensions */
	width:88px;
	height:100%;

	/* Shape */
	border-radius:0% 0% 0% 0%;

	/* Background */
	background-color:rgba(255,255,255,.8);

	/* Borders */
	border-top:0px solid rgb(0, 0, 0);
	border-bottom:0px solid rgb(0, 0, 0);
	border-left:0px solid rgb(0, 0, 0);
	border-right:0px solid rgb(0, 0, 0);

	/* Shadows */
	box-shadow:
	0px 0px 0px 0px rgb(0, 0, 0);
}
}   
.item
{

    display: block;
  width: 90%;

    transform: translate(-50%,50%)
}
.active
{
    visibility: visible;
    display: block;


    transform: translate(-50%,50%)
  
}

.Barre
{
    display: inline;
position: absolute; 
bottom: 0px;
left: 20%;
scale: 110%;
background-image: url("src/FondVIEWER_blanc.png");
vertical-align:bottom;
background-size: contain;
background-repeat: no-repeat;
background-position-y: 85px;


}

.undo{


    opacity: 0.45;
    max-width: 8%;
    max-height: 8%;
   
 
  position: absolute;
  top :50%;
  bottom: 50%;
  left: 10px
  
  
  
  }
  .redo{
    opacity: 0.45;
  right:10px;
  max-width: 8%;
    max-height: 8%;
    top:50%;
    bottom: 50%;
  position: absolute;
  }
  
  
  
  input[type="checkbox"] {
    display:none;
  }

.full{
    position: absolute;
    margin: 100px auto;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 400px;
    background-image: url("src/FullSCREEN.png");
    
}

